/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Document   : Style
    Created on : Apr 4, 2019, 10:03:09 AM
    Author     : Group 5
    Description: Define Styles
*/

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 90%;
    margin: 10px 20px 0px 95px;
}

table {
    border: 1px #000 solid;
    padding: 5px 15px;
    background-color:#F4F4F4;
}

th {
    font-weight: bold;
    text-align:  left;
    width: 150px;
}

th, td {
    padding: 5px;
    font-size:80%;
}